h1 {
    text-align: center;
    
}
body {
   
   overflow: visible !important;
   background: -webkit-linear-gradient(45deg, #085078 10%, #85d8ce 90%);
   background: -moz-linear-gradient(45deg, #085078 10%, #85d8ce 90%);
   background: -ms-linear-gradient(45deg, #085078 10%, #85d8ce 90%);
   background: -o-linear-gradient(45deg, #085078 10%, #85d8ce 90%);
   background: linear-gradient(45deg, #085078 10%, #85d8ce 90%);
 
    font: normal 15pt Arial;
    text-align: center;
}

#botao {
    width: 100px;
    height: 100px;
    float: left;
    margin: 10px;
     
}
#botoes {
   display: flex;
   justify-content: center;
}



.barra-progresso {
    width: 300px;
    height: 33px;
    background-color: whitesmoke;
   border-radius: 5px;
    margin-left: auto;
    margin-right: auto;
    
    
 }
 .barra-preenchimento {
    margin-top: -28px;
    height: 100%;
    width: 0%;
    background: #e7cc53;
    border-radius: 10px;  
    border-style:ridge;
    transition: width 0.5s ease-in-out;
    border-color:burlywood;
    max-width: 100%;
    
    
    }
 #botaoInjetar {
    width: auto;
    height: 50px;
 }
 #botaoTpc {
    width: auto;
    height: 50px;
 }
 .texto-barra {
    margin-top: auto;
    margin-bottom: auto;
    padding-top: 3px;
 }

 .seringa {
   background-image: url("./media/seringa.png");
   background-repeat: no-repeat;
   background-size: 654px 63px;
   background-position: 50%;
   
  
  
   
  
 }
   
 @media screen and (max-width: 600px) {
    /* Reduzir margens para melhor aproveitamento do espaço */
    section {
        padding: 10px;
    }

    /* Ajustar tamanho da fonte dos botões */
    #botaoInjetar,
    #botaoTpc,
    .botao-audio {
        font-size: 14px;
    }
     #botao {
    width: 50px;
    height: 50px;
    float: left;
    margin: 5px;
}
 .barra-progresso {
    width: 150px;
    height: 33px;
    background-color: whitesmoke;
   border-radius: 5px;
    margin-left: auto;
    margin-right: auto;
    
    
 }
 .barra-preenchimento {
    margin-top: -28px;
    height: 100%;
    width: 0%;
    background: #e7cc53;
    border-radius: 10px;  
    border-style:ridge;
    transition: width 0.5s ease-in-out;
    border-color:burlywood;
    max-width: 100%;
 }
   .seringa {
   background-image: url("./media/seringa.png");
   background-repeat: no-repeat;
   background-size: 426px 63px;
   background-position: 50%;
 }
 }
